In [84]:
import pandas as pd

wiki = pd.read_csv("C:/Users/Daniel/Documents/maestria UVG/text mining y analisis de sentimiento/tarea1/tarea1/base.csv")
base = wiki[['Title','Corpus']]
base.head()

,Title,Corpus
0,DJ AM,"\n,\n,Adam Michael Goldstein (March 30, 1973 –..."
1,"Princess Louise, Duchess of Argyll","\n,Princess Louise, Duchess of Argyll, VA, CI,..."
2,Elias Ashmole,"\n\n,Elias Ashmole FRS (/ɪlaɪʌs æʃmoʊl/; 23 Ma..."
3,"Albert Stanley, 1st Baron Ashfield","\n\n,Albert Henry Stanley, 1st Baron Ashfield,..."
4,Harriet Arbuthnot,"\n\n,Harriet Arbuthnot (10 September 1793 – 2 ..."

In [83]:
import re as re

new_corpus = list()
for text in base['Corpus']:
    new_corpus.append(
        re.split('\W+',
                 re.sub('\r+|\n+|,|\s{2,}|\t|\[\d+\]','',text.lower())
                )
    )
base_clean = pd.DataFrame(data={'Title':base['Title'],'Corpus':new_corpus})
base_clean.head()

,Title,Corpus,Tokens,Vocabulary
0,DJ AM,"[adam, michael, goldstein, march, 30, 1973, au...",2965,1017
1,"Princess Louise, Duchess of Argyll","[princess, louise, duchess, of, argyll, va, ci...",2965,1017
2,Elias Ashmole,"[elias, ashmole, frs, ɪlaɪʌs, æʃmoʊl, 23, may,...",2965,1017
3,"Albert Stanley, 1st Baron Ashfield","[albert, henry, stanley, 1st, baron, ashfield,...",2965,1017
4,Harriet Arbuthnot,"[harriet, arbuthnot, 10, september, 1793, 2, a...",2965,1017

In [82]:
print(str(len(base_clean['Corpus'][0]))+' tokens')
print(str(len(set(base_clean['Corpus'][0])))+' words')

2965 tokens
1017 words